/*css generales*/
*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #d4d4d4;
    font-family: "`open sans";
}

/*css barra de navegacion*/

.wrap{
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
    
}

ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li{
    width: 18%;
}

ul.tabs li:hover{
    background: #4b4b4b;
}
    

ul.tabs li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    
    display: block;
    padding: 20px 0px;

}

.active{
    background: #0984cc;
}

ul.tabs li a .tab-text{
    margin-left: 8px;
}

.secciones{
    width: 100%;
    background: white;
}
.secciones article{
    padding: 30px;
}
.secciones article{
    width: 100% ;
    padding: 2%;
    text-align: justify;
}

/*css contenido*/
h2{
    color: white;
    text-decoration: none;
    background: #0984cc;
    padding: 2px;
    margin-top: 1%;
    margin-bottom: 1% ;
    padding: 1%;
    font-size: 20px;
    border-radius: 20px;
}

h3{
    margin: 2%;
    font-weight: none;
    font-size: 20px;
}
h4{
    margin: 1%;
    font-size: 15px;
}


p{
    width: 100%; 
    background: #f5f1f1;
    padding: 1%;

}

/*parte responsive*/

@media screen and (max-width: 700px){
    /*barra de navegacion*/
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
    /*coctacto de referencia*/
    ul.contac li a .contac-text{
        display: none;
    }
    .consulte{
        width: none;
    }
    .nc{
        width: none
    ;
    }
}
@media screen and (max-width: 450px){
    ul.tabs li a{
        padding: 15px 0px;
    }
    ul.tabs li a .tab-text{
        display: none;
    }
    .secciones article{
        padding: 20px;
    }
}

/** css de contactos referencia*/
.contac-reference{
    width: 750px;
    max-width: 90%;
    margin: 30px auto;
    background: #363636;
    padding: 1px;
}

ul.contac{
    width: 100%;
    background: #d4d4d4;
    list-style: none;
    display: flex;
}
ul.contac{
   
}

ul.contac li{
    width: 33%;
}
    

ul.contac li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    
    display: block;
    padding: 20px 0px;
}

/**pagina 1*/
section.pag1 figure{
    display: flex;
    background-color: #d4d4d4;
    padding: 1%;
    border-radius: 20px;
    font-family: sans-serif;
    align-items: center;
}
.nombre{
    background: none;
    color: #363636;
    align-items: center;
}
img{
    border-radius: 20px;
    padding: 2px;
    background: black;
}