/*css generales*/
*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #d4d4d4;
    font-family: "`open sans";
}

/*css barra de navegacion*/

.wrap{
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
    
}

ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li{
    width: 18%;
}

ul.tabs li:hover{
    background: #4b4b4b;
}
    

ul.tabs li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    
    display: block;
    padding: 20px 0px;

}

.active{
    background: #0984cc;
}

ul.tabs li a .tab-text{
    margin-left: 8px;
}

.secciones{
    width: 100%;
    background: white;
}
.secciones article{
    padding: 30px;
}
.secciones article{
    width: 100% ;
    padding: 2%;
    text-align: justify;
}

/*css contenido*/
h3{
    color: white;
    text-decoration: none;
    background: #0984cc;
    padding: 2px;
    margin-top: 1%;
    margin-bottom: 1% ;
    padding: 2%;

}

p,h4{
    width: 100%; 
    background: #e7e7e7;
    padding-left: 1%;
}

/*parte responsive*/

@media screen and (max-width: 700px){
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}
@media screen and (max-width: 450px){
    ul.tabs li a{
        padding: 15px 0px;
    }
    ul.tabs li a .tab-text{
        display: none;
    }
    .secciones article{
        padding: 20px;
    }
}
